.missingno-annotation {
  z-index: 1;
  position: absolute;
  left: 0;

  background: #14171a;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
  padding: 0 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.AdaptiveMedia .missingno-annotation {
  bottom: 0;
}

.Gallery-media .missingno-annotation {
  top: 0;
}
